In [1]:
# install requried package

In [2]:
# !pip install GoogleNews

In [3]:
# !pip install newspaper3k

In [4]:
from GoogleNews import GoogleNews
from newspaper import Article
import pandas as pd

In [5]:
googlenews = GoogleNews(start='01/01/2021',end='30/6/2021')

In [6]:
googlenews.search('Coronavirus')

In [7]:
result=googlenews.result()

In [8]:
df = pd.DataFrame(result)

In [9]:
df.head()

,title,media,date,datetime,desc,link,img
0,Coronavirus News LIVE Updates | Oman suspends ...,Moneycontrol,10 mins ago,NaT,Coronavirus News LIVE Updates: India's cumulat...,https://www.moneycontrol.com/news/india/corona...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
1,Coronavirus live updates: Total 36.48 crore va...,Times of India,10 mins ago,NaT,India on Thursday reported 45892 new Covid-19 ...,https://timesofindia.indiatimes.com/india/coro...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
2,Coronavirus India Live Updates: Global death t...,The Indian Express,12 mins ago,NaT,Coronavirus (Covid-19) Cases in India News Liv...,https://indianexpress.com/article/india/corona...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
3,Chennai Hyderabad Live Updates: Active cases i...,The Indian Express,17 mins ago,NaT,"Chennai, Hyderabad Coronavirus (Covid-19) Late...",https://indianexpress.com/article/cities/chenn...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."
4,Karnataka Bengaluru Live Updates: State report...,The Indian Express,17 mins ago,NaT,Karnataka Bangalore Coronavirus (Covid-19) Lat...,https://indianexpress.com/article/cities/banga...,"data:image/gif;base64,R0lGODlhAQABAIAAAP//////..."

In [10]:
del df['date']

In [11]:
del df['link']

In [12]:
del df['img']

In [16]:
del df['datetime']

In [17]:
df.to_csv('news.csv')

In [18]:
df.to_html('news.html')

In [19]:
df.head(3)

,title,media,desc
0,Coronavirus News LIVE Updates | Oman suspends ...,Moneycontrol,Coronavirus News LIVE Updates: India's cumulat...
1,Coronavirus live updates: Total 36.48 crore va...,Times of India,India on Thursday reported 45892 new Covid-19 ...
2,Coronavirus India Live Updates: Global death t...,The Indian Express,Coronavirus (Covid-19) Cases in India News Liv...